<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHubPackageRegistry" value="https://nuget.pkg.github.com/0918nobita/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubPackageRegistry>
      <add key="Username" value="0918nobita" />
      <add key="ClearTextPassword" value="GITHUB_TOKEN" />
    </GitHubPackageRegistry>
  </packageSourceCredentials>
</configuration>
